<ion-view class="vertical-center" title="Начало">
    <ion-content>

        <div class="row">
            <div class="col col-100 col-center text-center">
                <img src="./img/logo.png" height="75" />
            </div>
        </div>

        <div class="row">
            <div class="col col-100 col-center text-center welcomeMessage">
                ДОБРЕ ДОШЛИ
                <p style="padding-top: 10px;font-weight: none;">
                    За да ползвате функционолността на сайта трябва да се логнете или регистрирате
                </p>
            </div>
        </div>

        <div class="row">
            <div style="margin: 0 auto;" class="col col-90 col-center">
                <a href="#/no_side/login" class="button-block button button-energized">
                    Влез в своя профил
                </a>
                <a href="#/no_side/register" class="button-block button button-assertive">
                    Нова регистрация
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>
