<ion-modal-view class="custom-modal">
    <ion-header-bar class="custom-bar-stable">
        <h1 class="title">Информация</h1>
        <button class="button button-icon" ng-click="closeInformationModal()">
            <i class="ion ion-ios7-close-outline btn-close"></i>
        </button>
    </ion-header-bar>
    <ion-content class="modal-content" style="font-size: 17px;">
        Тези полета не са задължителни. Ако са попълнени ще можем да гарантираме, 
        че предложенията, които ще получите не само ще бъдат адекватни на 
        Вашият пол и възраст, а ще бъдат и в близост до Вас.
    </ion-content>
</ion-modal-view>