<ion-modal-view class="custom-modal">
    <ion-header-bar class="custom-bar-stable">
        <h1 class="title">Информация</h1>
        <button class="button button-icon" ng-click="closeInformationModal()">
            <i class="ion ion-ios7-close-outline btn-close"></i>
        </button>
    </ion-header-bar>
    <ion-content class="modal-content" style="font-size: 17px;">
        Можете да изберете всички интереси, но ние Ви съветваме да изберете тези, които 
        най-добре Ви определят и съответно получените за тях покани ще бъдат най-полезни за Вас.
    </ion-content>
</ion-modal-view>