<ion-modal-view class="custom-modal">
    <ion-header-bar class="custom-bar-stable">
        <h1 class="title">Информация</h1>
        <button class="button button-icon" ng-click="closeInformationModal()">
            <i class="ion ion-ios7-close-outline btn-close"></i>
        </button>
    </ion-header-bar>
    <ion-content class="modal-content">
        Полетата пол и дата на раждане са задължителни. 
        Това е така, защото бихме искали да получавате само покани, които 
        да отговарят адекватно най-вече на това за мъжка или женска аудитория са, 
        а също и възрастова група. Вашият телефонен номер не е задължителен и няма да бъде 
        предоставян на трети страни,  ще се използва за връзка с Вас, 
        само ако активирате sms известия, каквито ще са достъпни скоро.
    </ion-content>
</ion-modal-view>