<ion-view class="vertical-center" title="Начало">
    <ion-content>

        <div class="row">
            <div class="col col-100 col-center text-center">
                <img src="./img/logo.png" height="75" />
            </div>
        </div>

        <i class="slide-icon ion-checkmark" style="text-shadow: 1px 2px 3px #979797;"></i>
        <p class="slide-title">
            Вашия профил е успешно<br/> регистриран!
        </p>
        <p class="slide-text" style="padding-top:20px;">
            <a href="#/app/user/profile" class="button button-assertive">
                към началото
            </a>
        </p>

    </ion-content>
</ion-view>
