<ion-view class="vertical-center" title="Вход">
    <ion-content>

        <div class="row">
            <div class="col col-100 col-center text-center">
                <img src="./img/logo.png" height="75" />
            </div>
        </div>

        <div class="row">
            <div class="col col-100 col-center text-center welcomeMessage">
                ВХОД ЗА ПОТРЕБИТЕЛИ
                <p style="padding:15px;padding-bottom:5px;padding-top: 10px;font-weight: none;">
                    Попълнете Вашите данни за вход
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col col-90 col-center" style="margin: 0 auto;">
                <form ng-submit="doLogin()">
                    <label class="item-input">
                        <input class="btn-login" ng-focus="" style="text-align: center" placeholder="E-Mail адрес" type="text" ng-model="loginData.email">
                    </label>
                    <label class="item-input">
                        <input class="btn-login" ng-focus="" style="text-align: center" placeholder="******" type="password" ng-model="loginData.password">
                    </label>
                    <label>
                        <button class="button button-block button-energized" type="submit">Вход</button>
                    </label>
                </form>

                <a href="#/no_side/register" class="button button-block button-assertive">
                    Все още нямате профил?
                </a>
                <a href="#/no_side/reset-password">
                    <p class="p-reset-password">
                        <small>Забаравена парола?</small>
                    </p>
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>
