<ion-view class="vertical-center" title="Забравена парола">
      <ion-content padding="true">

        <div class="row">
            <div class="col col-100 col-center text-center">
                <img src="./img/logo.png" height="75" />
            </div>
        </div>

        <div class="row">
            <div class="col col-100 col-center text-center welcomeMessage">
                ЗАБРАВЕНА ПАРОЛА
                <p style="padding-top: 10px;font-weight: none;">
                    Въведете E-mail адреса с който сте се регистрирали и ние ще Ви изпратим новата Ви парола
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col col-90 col-center" style="margin: 0 auto;">
                <form ng-submit="doReset()">
                    <label class="item-input">
                        <input class="btn-login" ng-focus="" style="text-align: center" placeholder="E-Mail адрес" type="text" ng-model="resetData.email">
                    </label>
                    <label>
                        <button class="button button-block button-assertive" type="submit">Изпрати ми нова парола</button>
                    </label>
                </form>

                <a href="#/no_side/login">
                    <p class="p-reset-password">
                        <small>към страницата за вход?</small>
                    </p>
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>
