<ion-view title="Начало">
    <ion-content class="has-header modal-content">
        <div class="row inside-logo ">
            <div class="col col-100 col-center text-center">
                <img src="./img/logo.png" height="75" />
            </div>
        </div>

        Бъдете сигурни, че профилът Ви е коректно попълнен, за да получавате покани 
        отговарящи на Вашите интереси и локация. За да настроите кога и за какво да 
        получвате известия, идете в меню: известия.
    </ion-content>
</ion-view>
