<ion-view class="vertical-center" title="Начало">
    <ion-content>

        <ion-slide-box class="box">
            <ion-slide>
                <div class="box blue">
                    <div class="row">
                        <div class="col col-100 col-center text-center">
                            <img src="./img/logo.png" height="75" />
                        </div>
                    </div>

                    <i class="slide-icon ion-ios7-person-outline"></i>
                    <p class="slide-title">
                        Вие сте
                    </p>
                    <p class="slide-text">
                        Изберете своя пол, възраст и мобилен телефон
                    </p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box red">
                    <div class="row">
                        <div class="col col-100 col-center text-center">
                            <img src="./img/logo.png" height="75" />
                        </div>
                    </div>

                    <i class="slide-icon ion-ios7-star-outline"></i>
                    <p class="slide-title">
                        Интереси
                    </p>
                    <p class="slide-text">
                        Изберете къде са Вашите интереси и локация
                    </p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box red">
                    <div class="row">
                        <div class="col col-100 col-center text-center">
                            <img src="./img/logo.png" height="75" />
                        </div>
                    </div>

                    <i class="slide-icon ion-ios7-bell-outline"></i>
                    <p class="slide-title">
                        Известия
                    </p>
                    <p class="slide-text">
                        Изберете кога и къде да получавате покани
                    </p>
                    <p class="slide-text">
                        <a href="{{ startLocationPath('#/app/user/profile') }}" class="button button-light btn-start">
                            Старт
                        </a>
                    </p>
                </div>
            </ion-slide>
        </ion-slide-box>

    </ion-content>
</ion-view>
