<ion-view title="Покани">
    <ion-content class="has-header modal-content">
        <div class="row inside-logo ">
            <div class="col col-100 col-center text-center">
                <img src="./img/logo.png" height="75" />
            </div>
        </div>
        
        Все още не сте поканени от партньорите на inSofia Today. 
        За да промените това може да подобрите Вашия профил като въведете 
        по-точна или повече информация за Вас. Когато получите покана 
        от наш партньор ще изпратим e-mail известие за Ваше удобство.
    </ion-content>
</ion-view>
